@import url("nullstyle.css");
@import url("fonts.css");


@import url(https://fonts.googleapis.com/css?family=Manrope:regular,600,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap);

body{
    font-family: "Manrope",Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 114.285714%; /* 16/14 */
    font-weight: 400;
    background-color: #FFF8F3;
}
h1{
    font-size: 50px;
    line-height: 150%;
    font-weight: 600;
    color: #ff0000bb;
    text-align: center;
    text-shadow: 1px 1px 2px #ff0000d8, 0 0 1em #0000ffd3, 0 0 0.2em #0000ff;
    text-transform: uppercase;
    margin: 0 0 50px 0;
}
.bold,
[class*="__title"]{
    font-weight: 600;
}
[class*="container"]{
    max-width: 1597px;
    padding-inline: 20px;
    box-sizing: content-box;
    margin: 0 auto;
}

.article__content p::first-letter,
.text-boxes h2::first-letter{
    color: #ff0000bb;
}

/* Header */
.header{
    margin: 20px 0 50px;
    font-size: 24px;
    line-height: 125%; /* 40/32 */
    font-weight: 600;
    color: #505F98;
} 
.header__logo{
    width: 10%;
}
.header__logo img{
    width: 100%;
}
.header__menu{
    display: inline-block;
    width: 89%;
    vertical-align: bottom;
}
.header__menu-item{
    display: block;
    text-align: center;
    display: inline-block;
    width: 30%;
}


/* Article */
.article {
    font-family: 'Source Sans Pro' ,Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 125%; /* 25/20 */
    margin: 0 0 50px 0;
}
.article__title {
}
.article__main-image{
    margin-bottom: 20px;
}
.article__main-image img{
    width: 100%;
}
.article__note {
    font-style: italic;
    font-size: 16px;
    margin-top: -25px;
    padding-left: 5px;
    color: #fff;
}
.article__content p{
    margin-bottom: 10px;
}
.article__content {
    text-align: justify;
}

/* --article */

/* Introduses */
/*  Personal portfolio */
.text-boxes__box{
    margin: 0 0 50px 0;
    font-size: 0;
    text-align: center;
}
.text-boxes__box img{
    min-width: 35%;
    max-width: 100%;
}
.text-boxes__content{
    text-align: left;
    vertical-align: bottom;
    padding-inline: 20px;
    display: inline-block;
    max-width: 65%;
    min-width: 370px;
}
.text-boxes__content p{
    padding-block-end: 5px;
}

.text-box-01{
    font-family: "Work Sans";
    color: #132238;
}
.text-box-01 p{
    font-size: 18px;
    line-height: 133.333333%; /* 24/18 */
}
.text-box-01 h2{
    font-size: 38px;
    line-height: 131.578947%; /* 50/38 */
} 


/* Landing page template */
.text-box-02{
    font-family: "Roboto";
    color: #505F98;
}
.text-box-02 h2{
    font-size: 50px;
    font-weight: 500;
    line-height: 132%; /* 66/50 */
    color: #091133;
} 
.text-box-02 p{
    font-size: 18px;
    line-height: 166.666667%; /* 30/18 */
}

/* Business presentation */
.text-box-03{
    font-family: "DM Sans";
    color: #474464;
}
.text-box-03 h2{
    font-size: 88px;
    font-weight: 700;
    line-height: 107.954545%; /* 95/88 */
    color: #1E1B39;
} 
.text-box-03 p{
    font-size: 24px;
    line-height: 175%; /* 42/24 */
}
/* /Introduses */


/* Section 01 */
.section-01{
    font-family: Roboto;
    margin-bottom: 50px;
}
.section-01__container{
    font-size: 0;
}
.section-01__wrapper{
    vertical-align: top;
    min-width: 50%;
    display: inline-block;
}
.section-01__box.left{
    max-width: 539px;
}
.section-01__title{
    font-weight: 500;
    color: #091133;
}
.left .section-01__title{
    font-size: 50px;
    line-height: 132%; /* 66/50 */
    letter-spacing: 1px;
    margin: 0 0 20px 0;
}
.left .section-01__content{
    color: #505F98;
    font-size: 18px;
    line-height: 166.666667%; /* 30/18 */
    margin: 0 0 76px 0;
}
.left .section-01__content p{
    margin-bottom: 16px;
}
.section-01 .btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%; /* 26/16 */
    padding: 7px 55px 3px;
    color: #fff;
    background-color: #091133;
    margin-right: 30px;
}
.section-01__box.right{
    max-width: 520px;
}
.right .section-01__title{
    font-size: 36px;
    line-height: 133.333333%; /* 48/36 */
    margin-bottom: 16px;
}
.right .section-01__content{
    color: #6F7CB2;
    font-size: 16px;
    line-height: 162.5%; /* 26/16 */
    margin-bottom: 70px;
}
.right .section-01__content p{
    margin-bottom: 10px;
}
.section-01__items{
    margin-inline: -15px;
}
.section-01__item{
    padding-inline: 15px;
}
.little-box{
    display: inline-block;
    max-width: 245px;;
    margin: 0 0 30px 0;
}
.little-box img{
    display: block;
    margin: 0 0 14px 0;
}
.little-box__title{
    display: block;
    color: #091133;
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%; /* 26/16 */
    margin-bottom: 6px;
}
.little-box__content{
    color: #5D6970;
    font-size: 12px;
    line-height: 150%; /* 18/12 */
}
/* /Section 01 */

/* Dark template section */
.dark-template{
    background-color: #141414;
    font-family: Manrope;
    padding-block: 150px;
}
.dark-template__title{
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    line-height: 150%; /* 57px */    
    margin: 0 0 14px 0;
}
.dark-template__subtytle{
    max-width: 1297px;
    color: #999;
    font-size: 18px;
    line-height: 150%;
    margin: 0 0 80px 0;    
}
.dark-template__boxes{
    font-size: 0;
}
.dark-template__box{
    padding: 50px;
    display: inline-block;
    max-width: 33.33%;
    min-width: 305px;
}
.dark-template__box-top{
    vertical-align: middle;
    padding-block: 18px;
    margin: 0 0 30px 0;
}
.dark-template__box-top img{
    padding-inline: 16px;
}
.dark-template__box-top h3{
    vertical-align: middle;
    display: inline-block;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%; /* 36px */
}
.dark-template__box-content{
    color: #999;
    font-size: 18px;
    line-height: 150%; /* 27px */
}

/* --Dark template section */

.footer{
    background: #fff;
    padding: 5px;
    text-align: center;
    text-shadow: 1px 1px 5px #000 ;
}