@import url("nullstyle.css");
@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,800,900&display=swap);

body {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  background: #28293E;
  color: var(--Text_Light_Gray, rgba(255, 255, 255, 0.64));
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

[class*=__container] {
  max-width: 1170px;
  box-sizing: content-box;
  padding-inline: 20px;
  margin: 0 auto;
}

.header,
.footer {
  background: #F3D1BF;
  padding-block: 10px;
  color: #28293E;
}

.header {
  top: 0;
  position: sticky;
  z-index: 99;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  flex-basis: 32px;
  aspect-ratio: 1;
}

.logo img {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.header__title {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}

footer {
  text-align: center;
}
.main__section-02,
.main__section-03{
  margin-bottom: 140px;
}
.portfolio{
  padding-block: 92px;
}
.portfolio__container{
  text-align: center;
}
.topik{
  text-align: center;
}
.topik:not(:last-child){
  margin-bottom: 36px;
}
.topik__over-title{
  color: #EF6D58;
  letter-spacing: 3px;
  text-transform: uppercase;  
}
.topik__over-title:not(:last-child){
  margin-bottom: 20px;
}
.topik__title{
  color: #FFF;
  font-size: 56px;
  font-weight: 800;
  line-height: 114.286%;
  letter-spacing: -1px;
}
.choice{
  display: flex;
  gap: 10px;
  justify-content: center;
  white-space: nowrap;
}
.choice:not(:last-child){
  margin-bottom: 68px;
}
.choice__item{
  flex-basis: 120px;
  transition: color .3s;
}
.choice__item:hover{
  color: #FFF;
  text-decoration: underline;
}
.choice__item--active{
  color: #FFF;
}
.portfolio__select{
  color: rgba(57, 20, 0, 0.64);
  border-radius: 6px;
  background: #FFF;
  padding: 16px 9px;
  width: 100%;
  display: none;
}
.portfolio__select:not(:last-child){
  margin-bottom: 64px;
}
.choice:not(:last-child){
  margin-bottom: 68px;
}

.cards{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio__cards:not(:last-child){
  padding-bottom: 48px;
}
.cards__item{
  position: relative;
  min-height: 416px;
  flex-basis: 470px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 50px 48px;
  border-radius: 6px;
  overflow: hidden;
  transition: transform .3s;
}
.cards__item::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  opacity: 0.3181;
  background: #5C2000;  
  z-index: -1;
  transition: opacity .5s;
}
.cards__item:hover:before{
  opacity: 0;
}
.cards__item:hover{
  transform: rotate(10deg) scale(1.1);
  box-shadow: 1px 3px 5px #333;
}
.cards__item:nth-child(4n+2),
.cards__item:nth-child(4n+3){
  flex-grow: 1;
}
.img-box{
  position: relative;
}
.img-box img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.cards__over-title{
  color: #391400;
  padding: 5px 16px;
  border-radius: 19px;
  background: #FFF;  
}
.cards__over-title:not(:last-child){
  margin-bottom: 24px;
}
.cards__title{
  color: #FFF;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
}
.btn{
  color: #FFF;
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  padding: 16px 30px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  transition: background-color .3s;
}
.btn:hover{
  background-color: #B550F8;
}

.get-started__inner{
  position: relative;
  border-radius: 6px;
  background: #FDF0E9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  min-height: 336px;
  padding-inline: 10px;
}
.get-started__star{
  position: absolute;
  top: 0;
  left: 7.179487%; /* 84/1170 */
  transform: translateY(-50%);
  transition: transform .5s;
}
.get-started__star:hover{
  cursor: pointer;
  /* transform: translateY(-50%) rotate(360deg); */
  animation: step-start 5s forwards;
}
@keyframes star-rotate{
  0%{
    transform: translateY(-50%) rotate(0deg);
  }100%{
    transform: translateY(-50%) rotate(360deg);
  }
}
.get-started__content{
  padding-top: 92px;
  flex-basis: 248px;
}
.get-started .over-title{
  margin-bottom: 12px;
}
.get-started .topik{
  text-align: left;
}
.get-started .title{
  margin-bottom: 23px;
}
.title--lite{
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%
}
.btn--red{
  background: #EF6D58;
  border-color: transparent;
}
.btn--red:hover{
  color: #391400;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);  
}
.get-started__envelop{
  padding-top: 80px;
  padding-inline: 20px;
}
.get-started__envelop img{
  width: 100%;
}
.get-started__right{
  flex-basis: 295px;
  position: relative;
  margin-top: -60px;
  text-align: right;
}
.get-started__right-cloud{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);  
}
.get-started__right-girl{
  position: relative;
  z-index: 1;
}

/* Events */
.events__container{
  text-align: center;
}
.events__second:not(:last-child){
  margin-bottom: 64px;
}
.topik{
  max-width: 426px;
  margin: 0 auto 64px;
}
.deck{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  color: #FFF;
  text-align: left;
}
.deck__item{
  position: relative;
  flex-basis: 30%;
  border-radius: 6px;
  border: 1px solid #3A3C56;
  padding: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.deck__item::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  z-index: -1;
  background-color: #B550F8;
  transition: transform .3s;
}
.deck__item:hover:before{
  opacity: .5;
  transform: translateY(0%);
}
.deck__top{
  border-bottom: 1px solid #3A3C56;
  padding-bottom: 36px;
  margin-bottom: 40px;
}
.deck__top-dt{
  display: flex;
  column-gap: 12px;
  align-items: center;
}
.deck__top-dt:not(:last-child){
  margin-bottom: 8px;
}
.deck__top-dt-day{
  font-size: 72px;
  font-weight: 800;
  line-height: 111.111%;
  letter-spacing: -2px;  
}
.deck__top-dt-str{
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
}
.deck__top-time{
  vertical-align: middle;
}
.deck__top-time::before{
  content: url(../img/events/icons/clock.svg);
  height: 16px;
  aspect-ratio: 1;
  margin-right: 8px;
}
.deck__bottom{
  flex-grow: 1;
  margin-bottom: 26px;
}
.deck__title{
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
}
.deck__title:not(:last-child){
  margin-bottom: 19px;
}
.deck__text{
  color: rgba(255, 255, 255, 0.64);
}
.deck__text:not(:last-child){
}
.events__btn-more{
  text-align: center;
}



@media (max-width: 1199.98px){}
@media (max-width: 1010px) {
  .cards__item{
    flex-basis: 400px;
  }
}
@media (max-width: 991.98px) {
  .cards__item{
    flex-basis: 320px;
  }
  .deck__item{
    flex-basis: 45%;
  }
}
@media (max-width: 767.98px) {
  body{
    font-size: 14px;
  }
  .cards{
    gap: 15px;
  }
  .cards__item{
    flex-basis: 235px;
    padding: 25px 14px;
  }
  .cards__over-title:not(:last-child){
    margin-bottom: 15px;
  }
  .cards__title{
    font-size: 32px;    
  }
  .deck__item{
    flex-basis: 100%;
    /* flex-flow: row wrap;
    column-gap: 30px; */
  }
  /* .deck__top{
    padding: 0 20px 0 0;
    border: 0;
    border-right: 1px solid #3A3C56;
  }
  .deck__bottom{
    flex: 1 1 50%;
  } */
}
@media (max-width: 525px) {
  .cards__item{
    flex-grow: 1;
  }

}
@media (max-width: 479.98px) {
  body {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
  }
  .topik__over-title:not(:last-child){
    margin-bottom: 17px;
  }
  .topik__title{
    font-size: 40px;
  }
  .topik__title.title--lite{
    font-size: 24px;
  }
  .get-started .topik{
    margin-bottom: 24px;;
  }
  .topik__title:not(:last-child){
    margin-bottom: 35px;
  }
  .get-started__envelop{
    padding-top: 29px;
  }
  .choice{
    display: none;
  }
  .portfolio__select{
    display: block;
  }
  .cards__item{
    padding: 51px 28px;
  }
  .cards{
    gap: 30px;
  }
}