@import url("nullstyle.css");
@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,800,900&display=swap);
body {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  line-height: 200%; /* 32/16 */
  font-weight: 400;
  background: #28293E;
  color: rgba(57, 20, 0, 0.64);
}

[class*=__container] {
  max-width: 1170px;
  padding-inline: 20px;
  box-sizing: content-box;
  margin: auto;
}

.main section {
  position: relative;
}

.header {
  top: 0;
  position: sticky;
  background: transparent;
  padding-block: 16px;
  z-index: 99;
  color: #FFF;
}
.header::after {
  content: '';
  position: absolute;
  left: 0;
  top: -20px;
  width: 100%;
  height: 100%;
  background: #28293E;
  z-index: -1;
}
.header::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  background: #28293E;
  z-index: -2;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
}
.logo {
  display: flex;
  gap: 14px;
  align-items: center;
}
.logo__title {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333333%; /* 32/24 */
}
.logo img {
  max-width: 48px;
  aspect-ratio: 1;
  block-size: fit-content;
}
.header__menu{
  flex-grow: 1;
  display: flex;
  max-width: 44.017094%; /* 515/1170 */
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.header__link{
  transition: color .3s;
}
.header__link:hover{
  text-decoration: underline;
  color: #EF6D58;
}
.header .header__contact{
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  padding: 18px 35px;
}
.header .header__contact:hover{
  border-color: #B550F8;
  background: #B550F8;
  color: #FFF;
}
.icon-menu {
	display: none;
}
.header__burger{
  position: relative;
  z-index: 100;
  height: 30px;
  aspect-ratio: 1;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  transition: border-color 1.3s;
}
.header__burger::before{
  content: '';
  top: 25%;
  transition: top, transform .3s, .3s;
}
.header__burger::after{
  content: '';
  bottom: 25%;
  transition: bottom, transform .3s, .3s;
}
.header__burger span{
  top: 50%;
}
.header__burger::before,
.header__burger::after,
.header__burger span{
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #FFF;
}
.open-menu .header__burger{
  transition: border-color 0s;
  border-color: transparent;
}
.open-menu .header__burger::before{
  transform: rotate(45deg);
  top: 50%;
  background-color: #EF6D58;
}
.open-menu .header__burger::after{
  transform: rotate(-45deg);
  bottom: 50%;
  background-color: #EF6D58;
}
.header__burger span{
  transition: background-color 1.3s;
}
.open-menu .header__burger span{
  background-color: transparent;
  transition: background-color 0s;
}

footer {
  text-align: center;
  color: #B550F8;
}

/* -trans */
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: block;
}

.-trans .content__over-title {
  transition: transform, opacity 1s, 1s ease 0.3s;
}
.-trans .content__text {
  transition: transform, opacity 1s, 1s ease 1.5s;
}
.-trans .content__text,
.-trans .content h2,
.-trans .content span {
  transform: translateY(50%);
  visibility: hidden;
  opacity: 0;
}
.-trans .content span:nth-child(1) {
  transition: transform, opacity 1s, 1s ease 0.6s;
}
.-trans .content span:nth-child(2) {
  transition: transform, opacity 1s, 1s ease 0.9s;
}
.-trans .content span:nth-child(3) {
  transition: transform, opacity 1s, 1s ease 1.2s;
}
.-trans .content span:nth-child(4) {
  transition: transform, opacity 1s, 1s ease 1.5s;
}
.-trans .content span:nth-child(5) {
  transition: transform, opacity 1s, 1s ease 1.8s;
}
.-trans .content span:nth-child(6) {
  transition: transform, opacity 1s, 1s ease 2.1s;
}
.-trans .content span:nth-child(7) {
  transition: transform, opacity 1s, 1s ease 2.4s;
}
.-trans .content span:nth-child(8) {
  transition: transform, opacity 1s, 1s ease 2.7s;
}
.-trans .content span:nth-child(9) {
  transition: transform, opacity 1s, 1s ease 3s;
}
.-trans .content span:nth-child(10) {
  transition: transform, opacity 1s, 1s ease 3.3s;
}
.-trans .hero-colage {
  transition: transform 1s ease 2s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.-trans .portfolio__container .cards__item a {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.-trans .portfolio__container .cards__item:nth-child(1) a {
  transition: transform, opacity 2s, 2s ease 0.3s;
}
.-trans .portfolio__container .cards__item:nth-child(2) a {
  transition: transform, opacity 2s, 2s ease 0.6s;
}
.-trans .portfolio__container .cards__item:nth-child(3) a {
  transition: transform, opacity 2s, 2s ease 0.9s;
}
.-trans .portfolio__container .cards__item:nth-child(4) a {
  transition: transform, opacity 2s, 2s ease 1.2s;
}
.-trans .portfolio__container .cards__item:nth-child(5) a {
  transition: transform, opacity 2s, 2s ease 1.5s;
}
.-trans .portfolio__container .cards__item:nth-child(6) a {
  transition: transform, opacity 2s, 2s ease 1.8s;
}
.-trans .portfolio__container .cards__item:nth-child(7) a {
  transition: transform, opacity 2s, 2s ease 2.1s;
}
.-trans .portfolio__container .cards__item:nth-child(8) a {
  transition: transform, opacity 2s, 2s ease 2.4s;
}
.-trans .portfolio__container .cards__item:nth-child(9) a {
  transition: transform, opacity 2s, 2s ease 2.7s;
}
.-trans .portfolio__container .cards__item:nth-child(10) a {
  transition: transform, opacity 2s, 2s ease 3s;
}
.-trans .portfolio__container .cards__item:nth-child(11) a {
  transition: transform, opacity 2s, 2s ease 3.3s;
}
.-trans .portfolio__container .cards__item:nth-child(12) a {
  transition: transform, opacity 2s, 2s ease 3.6s;
}
.-trans .portfolio__container .cards__item:nth-child(13) a {
  transition: transform, opacity 2s, 2s ease 3.9s;
}
.-trans .portfolio__container .cards__item:nth-child(14) a {
  transition: transform, opacity 2s, 2s ease 4.2s;
}
.-trans .portfolio__container .cards__item:nth-child(15) a {
  transition: transform, opacity 2s, 2s ease 4.5s;
}
.-trans .portfolio__container .cards__item:nth-child(16) a {
  transition: transform, opacity 2s, 2s ease 4.8s;
}
.-trans .portfolio__container .cards__item:nth-child(17) a {
  transition: transform, opacity 2s, 2s ease 5.1s;
}
.-trans .portfolio__container .cards__item:nth-child(18) a {
  transition: transform, opacity 2s, 2s ease 5.4s;
}
.-trans .portfolio__container .cards__item:nth-child(19) a {
  transition: transform, opacity 2s, 2s ease 5.7s;
}
.-trans .portfolio__container .cards__item:nth-child(20) a {
  transition: transform, opacity 2s, 2s ease 6s;
}
.-trans .portfolio__container .cards__item:nth-child(21) a {
  transition: transform, opacity 2s, 2s ease 6.3s;
}
.-trans .portfolio__container .cards__item:nth-child(22) a {
  transition: transform, opacity 2s, 2s ease 6.6s;
}
.-trans .portfolio__container .cards__item:nth-child(23) a {
  transition: transform, opacity 2s, 2s ease 6.9s;
}
.-trans .portfolio__container .cards__item:nth-child(24) a {
  transition: transform, opacity 2s, 2s ease 7.2s;
}
.-trans .portfolio__container .cards__item:nth-child(25) a {
  transition: transform, opacity 2s, 2s ease 7.5s;
}
.-trans .portfolio__container .cards__item:nth-child(26) a {
  transition: transform, opacity 2s, 2s ease 7.8s;
}
.-trans .portfolio__container .cards__item:nth-child(27) a {
  transition: transform, opacity 2s, 2s ease 8.1s;
}
.-trans .portfolio__container .cards__item:nth-child(28) a {
  transition: transform, opacity 2s, 2s ease 8.4s;
}
.-trans .portfolio__container .cards__item:nth-child(29) a {
  transition: transform, opacity 2s, 2s ease 8.7s;
}
.-trans .portfolio__container .cards__item:nth-child(30) a {
  transition: transform, opacity 2s, 2s ease 9s;
}
.-trans.active .content__text,
.-trans.active .content h2,
.-trans.active .content span {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.-trans.active .hero-colage {
  transform: rotateY(0deg);
  /* aspect-ratio: 1; */
}
.-trans.active .portfolio__container .cards__item a {
  transform: rotateY(0deg);
}

/* hero */
.hero {
  padding-block: 100px;
  /* min-height: 702px; */
}

.hero__container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 50px;
}

.hero__one {
  position: relative;
}

.hero__one > div:not(:last-child) {
  margin: 0 0 34px 0;
}

.hero__asterisk {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 24px;
  left: 45%;
}

.content {
  position: relative;
  font-size: 16px;
  line-height: 200%; /* 32/16 */
  color: rgba(255, 255, 255, 0.64);
}

.content > *:not(:last-child) {
  margin: 0 0 24px 0;
}

.content__over-title {
  color: #EF6D58;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content__title {
  color: #FFF;
  font-size: 72px;
  font-weight: 800;
  line-height: 111.111111%; /* 80/72 */
  letter-spacing: -2px;
}

.link-group > a {
  display: inline-block;
}

.link-group > a:not(:last-child) {
  margin-inline-end: 46px;
}

.btn {
  padding: 18px 24px;
  border-radius: 6px;
  background: #EF6D58;
  color: #FFF;
  font-size: 14px;
  font-weight: 900;
  line-height: 100%; /* 14/14 */
  text-transform: uppercase;
  transition: 0.3s;
}

.btn:hover {
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
  color: #391400;
}

.link {
  padding: 18px 24px;
  border-radius: 6px;
  color: #FFF;
  font-size: 16px;
  line-height: 200%; /* 32/16 */
}

.link:hover {
  color: #B550F8;
  text-decoration: underline;
}

.hero__two {
  padding-top: 50%;
  position: relative;
  height: 100%;
  aspect-ratio: 329/334;
  /* aspect-ratio: 1; */
}

.hero-colage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-colage > * {
  position: absolute;
}

.hero-colage > *:nth-child(12) ~ * {
  display: none;
}

.hero-colage__window::before {
  content: "";
  position: absolute;
}

.hero-colage__window::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.hero-colage__window {
  width: 42.051282%; /* 246/585 */
  height: 52.136752%; /* 305/585 */
}

.hero-colage__window::before {
  width: 100%;
  height: 59.672131%; /* 182/305 */
  bottom: 0;
  left: 0;
  border-radius: 10px;
}

.hero-colage__window::after {
  width: 100%;
  height: 80.655738%; /* 246/305 */
  top: 0;
  left: 0;
}

.hero-colage__window.hero-colage__window--violet:before,
.hero-colage__window.hero-colage__window--violet:after {
  background-color: #B550F8;
}

.hero-colage__window img {
  position: absolute;
  width: 103.658537%; /* 255/246 */
  height: 86.885246%; /* 265/305 */
  z-index: 1;
  left: 0;
  bottom: 0;
}

.hero-colage__window.hero-colage__window--violet img {
  top: 8%;
  left: 9%;
}

.hero-colage__window.hero-colage__window--yellow {
  top: 31.727575%; /* 191/602 */
  left: 56.842105%; /* 324/570 */
}

.hero-colage__window.hero-colage__window--yellow:before,
.hero-colage__window.hero-colage__window--yellow:after {
  background-color: #F7CC47;
}

.hero-colage__window.hero-colage__window--yellow img {
  width: 100%;
  object-fit: cover;
}

.hero-colage__round {
  width: 19.145299%; /* 112/585 */
  aspect-ratio: 1;
  border-radius: 50%;
  background: #EF6D58;
  top: 6.5%;
  left: 53%;
}

.hero-colage__round img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 37%;
  margin-left: -18%;
  margin-top: -25%;
}

.hero-colage__svg--top-right {
  top: 13%;
  left: 80%;
  width: 19.145299%; /* 112/585 */
  height: 14.017094%; /* 82/585 */
}

.hero-colage__svg--left {
  left: 0;
  top: 57%;
  width: 24.273504%; /* 142/585 */
  height: 12.478632%; /* 73/585 */
}

.hero-colage__left-bottom {
  left: 10%;
  top: 72%;
  width: 36.581197%; /* 214/585 */
  height: 19.145299%; /* 112/585 */
}

.hero-colage__svg--bottom {
  left: 55%;
  top: 90%;
  width: 8.547009%; /* 50/585 */
  height: 14.017094%; /* 82/585 */
}

/* Portfolio */
.portfolio__one {
  position: relative;
}

.portfolio__one .content {
  padding-right: 200px;
}

.portfolio .content > *:not(:last-child) {
  margin: 0 0 20px 0;
}

.portfolio .content__title {
  font-size: 56px;
  line-height: 114.285714%; /* 64/56 */
  letter-spacing: -1px;
}

.portfolio__one a {
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn--dark {
  padding: 18px 30px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn--dark:hover {
  background: #B550F8;
  color: #FFF;
}

.portfolio__two {
  padding-block: 80px 96px;
}

.cards {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
  row-gap: 20px;
}

/* .cards.cards---three > li {
  width: 33.33%;
  display: inline-block;
} */

.cards__item {
  width: 33%;
  height: 576px;
  border-inline: 8px solid #28293E;
}

.background {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.cards__item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards__item:hover {
  transform: scale(1.07);
  /* box-shadow: 0 4px 1px #FFF; */
  box-shadow: 16px 0 16px rgba(0, 0, 0, 0.5), -16px 0 16px rgba(0, 0, 0, 0.5);
  border: 0;
  z-index: 1;
}

.cards__item a {
  width: 100%;
  height: 100%;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.cards__item .content {
  position: absolute;
  bottom: 11.111111%; /* 64/576 */
  /* top: 72.222222%; 416/576 */
  left: 10.572687%; /* 48/454 */
  right: 10.572687%; /* 48/454 */
}

.cards__item .content__title {
  font-size: 40px;
  line-height: 120%; /* 48/40 */
}

.cards__item .content__over-title {
  display: inline-block;
  color: #391400;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%; /* 32/16 */
  padding: 5px 16px;
  border-radius: 19px;
  background: #FFF;
  text-transform: none;
}

[class*="--dark"] {
  background: #28293E;
}/*# sourceMappingURL=style.css.map */

@media (max-width: 1199.98px){
  .content__title {
    font-size: 58px;
  }
}
@media (max-width: 991.98px) {
  .content__title {
    font-size: 42px;
  }
}
@media (max-width: 767.98px) {
  .btn {
    padding: 10px;
    font-size: 10px;
  }  
  .link {
    padding: 10px;
    font-size: 10px;
  }
  .-trans.active .hero-colage {
    /* height: 70%; */
  }  
  .content {
    font-size: 11px;
    line-height: 150%;
  }
  [class*=__container] {
    padding-inline: 23px;  
  }
  .content > *:not(:last-child) {
    margin: 0 0 15px 0;
  }  
  .hero__one > div:not(:last-child) {
    margin: 0 0 20px 0;
  }  
  .hero {
    padding-block: 30px;
  }
  .link-group > a:not(:last-child) {
    margin-inline-end: 10px;
  }  
  .portfolio .content__title,
  .content__title {
    font-size: 28px;
  }
  .icon-menu {
    display: block;
  }
  .header__menu{
    position: absolute;
    top: 0px;
    right: 0;
    flex-direction: column;
    background-color: #28293E;
    padding: 20px 150px 20px 50px;
    font-size: 24px;
    line-height: 200%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 1s;
    border-radius: 6px;
    z-index: 99;
  }
  .header__link{
    text-decoration: underline;
  }
  .open-menu .header__menu{
    transform: rotateY(0deg);
  }
  .header .header__contact {
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 10px 16px;
    font-size: 12px;
    line-height: 100%;
  }
  .header {
    padding-block: 10px;
  }
  .cards {
    flex-wrap: wrap;
  }
  .cards__item {
    width: 100%;
  }
}
@media (max-width: 479.98px) {
  .hero{
    padding-block: 50px 100px;
  }
  .hero__one{
    order: 2;
  }
  .hero__two{
    order: 1;
  }
  .hero__two{
    width: 100%;
  }
  .portfolio__one .content {
    padding-right: 0;
  }  
  .hero__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .-trans.active .hero-colage {
    height: auto;
    width: 100%;
  }
  .content__over-title{
    font-size: 16px;
    line-height: 200%; /* 32/16 */
  }
  .content__title{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 56px;
    line-height: 114.285714%; /* 64/56 */
  }    
  .content__text{
    font-size: 16px;
    line-height: 200%; /* 32/16 */
  }
  .link-group{
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  .link-group .btn {
    padding: 18px 23px;
    font-size: 14px;
    line-height: normal;
  }
  .link {
    font-size: 16px;
    line-height: 200%; /* 32/16 */
  }
  .hero__one > div:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .content > *:not(:last-child) {
    margin: 0 0 20px 0;
  }    
  .footer{
    font-size: 10px;
  }
}