@import url("nullstyle.css");
@import url("animation.css");

@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,800,900&display=swap);

body{
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    line-height: 200%; /* 32/16 */
    font-weight: 400;
    background: #fff;
    color: #000;
}
main{
    position: relative;
}
[class*="__container"]{
    max-width: 1170px;
    padding-inline: 20px;
    box-sizing: content-box;
    margin: 0 auto;
}
h2{
    position: absolute;
    top: 51px;
    left: 28px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    z-index: 10;
}
.header{
    top: 0;
    position: sticky;
    background: #fff;
    padding-block: 10px;
    z-index: 99;
}
.header__container{
    position: relative;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
}
.logo img{
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;    
}
.header__title{
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
}
footer{
    text-align: center;
}

.canvas{
    width: 100%;
    height: 95vh;
    position: relative;
    z-index: -99;
}
.canvas img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
/* Driver */
.main__driver{
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    aspect-ratio: 1;
    background-color: #f75c2e;
    border-radius: 83% 17% 46% 54% / 42% 17% 83% 58%;
}

/* Tractor */
.main__tractor-first{
    position: absolute;
    left: 36%;
    top: 50%;
    width: 40%;
}
/* Second tractor */
.main__tractor-second{
    position: absolute;
    left: 4%;
    top: 63%;
    width: 12%;
    /* transform: rotateY(180deg); */
    z-index: -1;
}
.main__tractor-second .tractor__wing::before,
.main__tractor-second .tractor__body,
.main__tractor-second .tractor__roof{
    background: green;
}
.main__tractor-second .wheel::before{
    width: 124%;
}
.main__tractor-second .wheel.wheel--rear::before{
    width: 115%;
}
.main__tractor-second .tractor__cabine::before {
    bottom: -90%;
}
.main__tractor-third{
    position: absolute;
    right: 1%;
    top: 56%;
    width: 7%;
    z-index: -2;

}
.main__tractor-third .tractor__wing::before,
.main__tractor-third .tractor__body,
.main__tractor-third .tractor__roof{
    background: yellow;
}


.main__tractor-third .wheel::before{
    width: 175%;
}
.main__tractor-third .wheel.wheel--rear::before{
    width: 141%;
}
.main__tractor-third .tractor__cabine::before {
    bottom: -102%;
}



/* Tractor */
.tractor{
    position: relative;
    aspect-ratio: 350/120;
    background-color: transparent;
}
.tractor__body{
    position: absolute;
    left: 0;
    top: 0;    
    width: 87.4%; /* 437/500 */
    height: 80%;
    background: #f75c2e;
    border-top-left-radius: 63%;
    border-bottom-left-radius: 30%;
    margin: 0 auto;
    transform: skew(34deg,0);
    clip-path: polygon(0 0, 60.9% 0, 52.3% 43%, 91% 43%, 83% 100%, 0% 100%);
    overflow: hidden;
}
.tractor__body.tractor__body--dark{
    background: linear-gradient(#222 0, transparent 52%);
    opacity: .4;
}
.tractor__kapot{
    position: absolute;
    top: -0.581395%;
    left: 14%;
    width: 44%;
    height: 28%;
    overflow: hidden;
    transform: skewX(-32deg);
    border-right: 3px solid;
    overflow: hidden;
}
.tractor__kapot::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    inset-block: 0;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-radius: 5px;
    transform: skewX(30deg);
}
.tractor__kapot span{
    position: absolute;
    right: -15%;
    bottom: 0%;
    width: 67%;
    height: 51%;
    background: #000;
    transform: skew(-68deg, 0deg);
    border-top-left-radius: 50%;
}
.tractor__kapot span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #000;
    transform: skewX(-36deg);
}
/* Fara */
.tractor__fara{
    position: absolute;
    top: 38%; /* 73/171 */
    left: 1.8%; /* 9/500 */
    height: 17.54386%; /* 30/171 */
    aspect-ratio: 1 / 2;
    transform: rotate(-23deg);
    background: black;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* background: linear-gradient(to left, #777, white); */
    background: linear-gradient(to left, yellow, white);
    box-shadow: 1px 1px 1px #555;
}
.tractor__radiator{
    position: absolute;
    left: 9.5%; /* 76/800 */
    bottom: 42.105263%; /* 72/171 */
    width: 6%;
    height: 22%;
    transform: rotate(90deg);
    font-size: 0;
    line-height: 0;
}
.tractor__radiator span{
    display: inline-block;
    width: 54%;
    height: 4%; /* 3/150 */
    background-color: #000;
    border-radius: 2px;
}
.tractor__radiator span:not(:last-of-type){
    margin-bottom: 13%;
}
/* cabine */
.tractor__rear-window{
    position: absolute;
    top: -65%;
    right: 14.5%;
    /* right: -35%; */
    width: 20%;
    height: 98%;
    clip-path: polygon(0% 0%, 78% 0%, 87% 100%, 0 100%);
}
.tractor__rear-window::before{
    content: '';
    position: absolute;
    inset: 0;
    background: #c5e3ee; 
    opacity: .4;   
}
.tractor__rear-window span{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 4%;
    height: 100%;
    background-color: #444;
}
.tractor__rear-window span:nth-child(2){
    top: 0%;
    left: 78%;
    width: 4%;
    height: 100%;
    transform: rotate(-3deg);
}
.tractor__rear-window span:nth-child(3){
    top: 0%;
    left: 0%;
    width: 75%;
    height: 2%;
}
.tractor__door{
    position: absolute;
    top: -65%;
    right: 35.6%;
    /* right: 120%; */
    width: 20%;
    height: 98%;
    /* transform-style: preserve-3d; */
    perspective: 1000px;
    z-index: 2;
}
.door{
    position: absolute;
    overflow: hidden;
    inset-inline: 0;
    inset-block: 0;
    /* opacity: .4; */
    clip-path: polygon(0% 68%, 31% 0%, 100% 0%, 100% 57%, 83% 64%, 77% 70%, 71% 75%, 68% 79%, 64% 87%, 61% 100%, 0 100%);
    z-index: 1;
    /* transform: rotate3d(-8, 23, 3, -48deg) translateY(12px); */
    /* transition: 1s; */
}
.door::before{
    content: '';
    position: absolute;
    inset: 0;
    background: #c5e3ee; 
    opacity: .4;   
}
.door span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4%;
    height: 31%;
    background-color: #444;
}
.tractor__rear-window span::after,
.door span::after{
    content: '';
    position: absolute;
    inset-inline: 0;
    inset-block: 0;
    background: linear-gradient(to right, #555 0%, #000 100%);
    opacity: .2;
}
.door span:nth-child(1){
    top: 69%;
    left: 0%;
    width: 4%;
    height: 31%;
}
.door span:nth-child(2){
    top: -2%;
    left: 15%;
    width: 4%;
    height: 75%;
    transform: rotate(15.1deg);
}
.door span:nth-child(3){
    top: 98%;
    left: 3%;
    width: 56%;
    height: 2%;
}
.door span:nth-child(4){
    top: 0%;
    left: 32%;
    width: 67%;
    height: 2%;
}
.door span:nth-child(5){
    top: 0%;
    left: 96%;
    width: 4%;
    height: 57%;
}
.door::after{
    content: '';
    position: absolute;
    right: -121%;
    bottom: -115px;
    width: 163%;
    aspect-ratio: 1;
    border-radius: 53%;
    border: 7px solid #444;
}
.tractor__cabine{
    /* display: none; */
    position: absolute;
    top: -70%; /* -122/171 */
    right: 15.4%; /* 77/500 */
    width: 41%;
    height: 105%;
    overflow: hidden;
    border-bottom: 8px solid #000;
}
.tractor__cabine::before{
    content: '';
    position: absolute;
    inset: 0;
    background: #c5e3ee;
    opacity: .4;
    clip-path: polygon(16% 0%, 95% 0%, 100% 75%, 50% 100%, 0% 101%, 0% 69%);
}
.tractor__cabine::after{
    /* content: ''; */
    position: absolute;
    top: 4%;
    left: 16%;
    width: 78%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    transform: perspective(43px) rotateX(1deg);
    background-color: #c5e3ee;
}
.tractor__salon{
    display: none;
    position: absolute;
    width: 100%;
    height: 31%;
    bottom: 0;
    left: 0;
    background: #c5e3ee;
    border-top: 5px solid #000;
    z-index: -2;
}

.tractor__cabine span{
    /* display: none; */
    position: absolute;
    left: 50%;
    top: 0%;
    width: 7%;
    height: 100%;
    background-color: #000;
}
.tractor__cabine span:nth-of-type(1){
    left: 5%;
    height: 93%;
    transform: rotate(15deg);
    width: 3.5%;
    top: -1%;
}
.tractor__cabine span:nth-of-type(2){
    left: 90%;
    transform: rotate(-3deg);
    height: 55%;
}
.tractor__cabine span:nth-of-type(3){
    display: none;
    left: 52%;
    top: -43%;
    width: 7%;
    height: 93%;
    transform: rotate(-90deg);
}
.tractor__cabine span:nth-of-type(4){
    left: -5%;
    top: 71%;
}
.tractor__cabine span:nth-of-type(5){
    display: none;
    left: 44%;
    top: 22%;
    width: 1.4%;
    transform: rotate(-90deg);}
.tractor__cabine span:nth-of-type(6){
    width: 3.5%;
}
.tractor__cabine span:nth-of-type(6)~span{
    /* z-index: -2; */
}
.tractor__cabine span:nth-of-type(7){
    left: 81%;
    transform: rotate(-3deg);
}
.tractor__cabine span:nth-of-type(8){
    left: 40%;
}
.tractor__torpeda{
    /* display: none; */
    position: absolute;
    left: -10.152284%;
    top: 69.976744%;
    width: 21%;
    height: 19%;
    background-color: #000;
    border-top-right-radius: 33%;
    border-bottom-right-radius: 33%;
    transform: rotate(-23deg);
    /* z-index: -2; */
}
.tractor__torpeda div{
    position: absolute;
    top: 34.545455%; /* 19/55 */
    left: 98.039216%; /* 50/51 */
    width: 33.333333%; /* 17/51 */
    height: 16.363636%; /* 9/55 */
    background-color: #000;
}
.tractor__torpeda .tractor__drive{
    border-radius: 50%;
    top: 28%;
    left: 86%;
    width: 71%;
    height: 29%;
    transform: rotate(92deg);
    background: #000;
}

.tractor__roof{
    /* display: none; */
    position: absolute;
    top: -75%; /* -133/192 */
    left: 49%; /* 244/197 */
    width: 35%;
    height: 10%;
    background-color: #f75c2e;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
}
.tractor__roof::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
    background: linear-gradient(to bottom, transparent 40%, #000 100%);
    opacity: .8;
}
.tractor__tube{
    position: absolute;
    left: 39.8%; /* 199/500 */
    top: -69.005848%; /* -118/171 */
    width: 3%;
    height: 69%;
    border-top-right-radius: 10px;
    background: linear-gradient(to right, #888, #000);
}
.tractor__tube span{
    position: absolute;
    left: -90%; /* -14/199 */
    top: -6.4%; /* -8/118 */
    width: 100%;
    height: 25%;
    border-top-right-radius: 10px;
    background: linear-gradient(to right, #888, #000);
    z-index: 1;
    transform: rotate(90deg);
}

/* Wing */
.tractor__wing{
    position: absolute;
    top: -25%;
    right: 0;
    width: 44%;
    aspect-ratio: 2 / 1;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
}

.tractor__wing::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(circle at center, transparent 50%, #160601 100%),
    linear-gradient(#f75c2e 50%, transparent 50%);
}
.tractor__wing::after{
    content: '';
    position: absolute;
    top: 38%;
    right: 0;
    width: 100%;
    aspect-ratio: 1;
    background: linear-gradient(#222 31%, transparent 31%);
    border-radius: 50%;
    opacity: .8;
}
/* hodova */
.tractor__hodova{
    position: absolute;
    left: 26%;
    bottom: 19%;
    width: 38%;
    height: 36%;
    background-color: #000;
    transform: skewX(-32deg);
    transition: unset;
    border-radius: 10px;
    background: linear-gradient(#000, #333);
}
/* Wheel */
.tractor__wheel{
    bottom: -33%;
    left: 2%;
}
.tractor__wheel.wheel--rear{
    left: 56%;
    width: 44%;
}
.wheel{
    position: absolute;
    width: 31%;
    aspect-ratio: 1;
    z-index: 1;
    border-radius: 50%;
    border: 7px dashed #222;
}
.wheel.wheel--rear::before{
    width: 101%;
}
.wheel::before{
    content: '';
    position: absolute;
    width: 103%;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    /* background: radial-gradient(circle, #fff 0%, #fff 20%, 
        #aaa 20%, #999 25%, #aaa 30%,
        #000 30%, #333 50%, 
        #000 70%, transparent 70%); */
    background: radial-gradient(circle, #000 0%, #333 50%, #000 100%);
}
.wheel::after{
    /* display: none; */
    content: '';
    position: absolute;
    width: 50%;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(circle, #aaa 60%, #fff 75%, #000 100%);
}
.wheel__disk{
    position: absolute;
    width: 46%;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(#aaa 50%, transparent 50%, #aaa 75%) ;
    background-color: #333;
    z-index: 1;
}
.wheel__disk::after{
    content: '';
    position: absolute;
    width: 60%;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #fff;
    
}
.wheel__bolts{
    position: absolute;
    width: 33%;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.wheel__bolts span{
    position: absolute;
    width: 20%;
    aspect-ratio: 1;
    background: #aaa;
    border-radius: 50%;
}
.wheel__bolts.wheel__bolts--rotated{
    transform: translate(-50%, -50%) rotate(45deg);

}
.wheel__bolts span:nth-of-type(1){
    top: 0;
    left: 0;
}
.wheel__bolts span:nth-of-type(2){
    top: 0;
    right: 0;
}
.wheel__bolts span:nth-of-type(3){
    bottom: 0;
    left: 0;
}
.wheel__bolts span:nth-of-type(4){
    bottom: 0;
    right: 0;
}
.wheel__hole{
    position: absolute;
    width: 20%;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;    
    background: #aaa;
    border-radius: 50%;

}
