@import url("nullstyle.css");

@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,800,900&display=swap);

body{
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    line-height: 200%; /* 32/16 */
    font-weight: 400;
    background: #FDF0E9;
    color: rgba(57, 20, 0, 0.64);
}
[class*="__container"]{
    max-width: 1170px;
    padding-inline: 20px;
    box-sizing: content-box;
    margin: 0 auto;
}

.header{
    top: 0;
    position: sticky;
    background: #FDF0E9;
    padding-block: 10px;
    z-index: 99;
}
.header__container{
    position: relative;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
}
.logo img{
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 0;
	inline-size: 100%;
	block-size: 100%;
    object-fit: cover;    
}
.header__title{
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
}
footer{
    text-align: center;
}



/* hero */
.hero{
    padding-block: 64px;
    min-height: 702px;
}
.hero__container{
    font-size: 0;
}
.hero__container > div{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    position: relative;
}
.hero__one > div:not(:last-child){
    margin: 0 0 34px 0;
}
.hero__asterisk{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 24px;
    left: 45%;
}
.content{
    position: relative;
    font-size: 16px;
    line-height: 200%; /* 32/16 */
    color: rgba(255, 255, 255, 0.64);
}
.content >*:not(:last-child){
    margin: 0 0 24px 0;
}
.content__over-title{
    color: #EF6D58;
    letter-spacing: 3px;
    text-transform: uppercase;    
}
.content__title{
    color: #FFF;
    font-size: 72px;
    font-weight: 800;
    line-height: 111.111111%; /* 80/72 */
    letter-spacing: -2px;    
}
.link-group > a{
    display: inline-block;
}
.link-group > a:not(:last-child){
    margin-inline-end: 46px;
}
.btn{
    padding: 18px 24px;
    border-radius: 6px;
    background: #EF6D58;
    color: #FFF;
    font-size: 14px;
    font-weight: 900;
    line-height: 100%; /* 14/14 */
    text-transform: uppercase;    
}
.link{
    color: #FFF;
    font-size: 16px;
    line-height: 200%; /* 32/16 */
}





.hero__two{
    padding-top: 50%;
}
.hero-colage{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.hero-colage >*{
    position: absolute;
}
.hero-colage >*:nth-child(1)~*{
    /* display: none; */
}
.hero-colage__window{
    width: 43.157895%; /* 246/570 */

} 
.hero-colage__window img{
    position: absolute;
    top: 7.868852%; /* 24/305 */
    left: 8.536585%; /* 21/246 */
    width: 103%; /* 255/246 */
    height: 82%; /* 265/305 */
}
.hero-colage__window.hero-colage__window--yellow{
    top: 31.727575%; /* 191/602 */
    left: 56.842105%; /* 324/570 */
}
.hero-colage__window.hero-colage__window--yellow img{
    left: 0;
    top: 14%; /* 36/305 */
}
.hero-colage__round{
    width: 19.649123%; /* 112/570 */
    height:  18.604651%; /* 112/602 */
    border-radius: 50%;
    background: #EF6D58;
    top: 6.5%;
    left: 53%;
}
.hero-colage__round img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 37%;
        margin-left: -18%;
        margin-top: -25%; 
}
.hero-colage__svg--top-right{
    top: 13%;
    left: 80%;
    width: 19.649123%; /* 112/570 */
    height: 13.621262%; /* 82/602 */
}
.hero-colage__svg--left{
    left: 0;
    top: 57%;
    width: 24.912281%; /* 142/570 */
    height: 12.126246%; /* 73/602 */
}
.hero-colage__left-bottom{
    left: 10%;
    top: 72%;
    width: 37.54386%; /* 214/570 */
    height: 18.604651%; /* 112/602 */
}
.hero-colage__svg--bottom{
    left: 55%;
    top: 90%;
    width: 8.77193%; /* 50/570 */
    height: 13.621262%; /* 82/602 */
}


/* Portfolio */
.portfolio{}
.portfolio--dark{}
.portfolio__container{
}
.portfolio__one{
    position: relative;
}
.portfolio .content >*:not(:last-child){
    margin: 0 0 20px 0;
}
.content__over-title{

}
.portfolio .content__title{
    font-size: 56px;
    line-height: 114.285714%; /* 64/56 */
    letter-spacing: -1px;    
}
.portfolio__one a{
    position: absolute;
    right: 0;
    bottom: 0;
}
.btn--dark{
    padding: 18px 30px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);    
}

.portfolio__two{
    padding-block: 80px 96px;
}
.cards{
    font-size: 0;
}
.cards.cards---three > li{
    width: 33.33%;
    display: inline-block;
}
.cards__item{
    position: relative;
    height: 576px;
    border-inline: 8px solid #28293E;
}
.background{
	position: absolute;
	inset-inline-start: 0;
	inset-block-start: 0;
	inline-size: 100%;
	block-size: 100%;
    object-fit: cover;
}
.cards__item .content{
    position: absolute;
    top: 72.222222%; /* 416/576 */
    left: 10.572687%; /* 48/454 */
}
.cards__item .content__title{
    font-size: 40px;
    line-height: 120%; /* 48/40 */
}
.cards__item .content__over-title{
    display: inline-block;
    color: #391400;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%; /* 32/16 */
    padding: 5px 16px;
    border-radius: 19px;
    background: #FFF;
    text-transform: none; 
}



[class*="--dark"]{
    background: #28293E;
}
