@import url("nullstyle.css");
@import url("media.css");
// @import url("animation.css");

@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,800,900&display=swap);
/*
text-dark: #391400;
text-dark-accent: #ef6d58;
text-dark-gray: rgba(57, 20, 0, 0.64);
text-light: #fff;
text-light-accent: #ef6d58;
text-light-gray: rgba(255, 255, 255, 0.64);
*/ 

body{
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
    background: #28293E;
    color: #fff;

}
[class*="__container"]{
    max-width: 1210px;
    padding-inline: 20px;
    margin: 0 auto;
}
.header,
.footer{
    background: #F3D1BF;
    padding-block: 10px;
    color: #28293E;
}
.header{
    top: 0;
    position: sticky;
    height: 52px;
    z-index: 99;
}
.header__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    inset: 0;
    width: 32px;
    aspect-ratio: 1;
}
.logo img{
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;    
}
.header__title{
    font-size: 24px;
    font-weight: 900;
}
footer{
    text-align: center;
}

// content
.content{
    text-align: center;
    &__over-title {
        color: #EF6D58;
        font-size: 16px;
        line-height: 200%; /* 32/16 */
        letter-spacing: 3px;
        text-transform: uppercase;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    &__title{
        font-size: 56px;
        font-weight: 800;
        line-height: 114.286%;
        letter-spacing: -1px;
        text-align: center;
        &--left{
            text-align: left;
        }
    }
    @media (max-width: 650px) {
        // &__over-title{
        //     flex: 14;
        //     &:not(:last-child){
        //         margin-bottom: 10px;
        //     }
        // }
        // &__title{
        //     font-size: 46px;
        // }
    }    
}

.main {
    &__section{
        // portfolio
        &-01{
            margin: 0 0 192px;
        }
        // get-started
        &-02{
            margin: 0 0 140px;
        }
        // events
        &-03{
            margin: 0 0 140px;
        }
        // team
        &-04{
            margin: 0 0 180px;
        }
        // founder
        &-05{
            margin: 0 0 176px;
        }
    }
}
.menu {
    max-width: 574px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
    &__item {
        a{
            position: relative;
            color: rgba(255, 255, 255, 0.64);
            font-size: 16px;
            line-height: 200%; /* 32px/16 */
        }
        span{
            position: absolute;
            top: 0;
            right: 0;
            color: rgba(255, 255, 255, 0.64);
            font-size: 14px;
            line-height: 171.428571%; /* 24/14 */
            transform: translate(100%, -50%);
        }
    }
    &__item a:hover {
        color: #fff;
    }
    @media (max-width: 650px) {
        // max-width: 360px;
        // column-gap: 10px;
        // a{
        //     font-size: 14px;
        //     line-height: 171%; /* 11/10 */
        // }
        // span{
        //     font-size: 10px;
        //     line-height: 110%; /* 11/10 */
        // }
    }
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.img {
    position: relative;
    &__img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.btn {
    padding: 16px 30px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    color: #FFF;
    text-align: center;
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    transition: color, background-color .3s, .3s;
    &:hover{
        color: #EF6D58;
    }
}

.portfolio {
    padding-top: 92px;
    &__container {
    }
    &__first {
        margin: 0 0 68px;
    }
    &__first-title{
        margin: 0 0 44px;
    }
    &__second {
        margin: 0 0 64px 0;
        .cards{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            column-gap: 30px;
            row-gap: 32px;
            &__item{
                flex-basis: 470px;
                min-height: 416px;
                position: relative;
                @media (max-width: 1010px) {
                    // flex-grow: 1;
                }
                &:nth-child(4n+2),
                &:nth-child(4n+3){
                    flex-grow: 1;
                }
    
                .img{
                    border-radius: 6px;
                    overflow: hidden;
                    position: absolute;
                    inset: 0;
                    &::after{
                        content: '';
                        position: absolute;
                        inset: 0;
                        background: #5C2000;                
                        transition: opacity 1s;;
                        opacity: 0.3181;
                    }
                    &:hover::after {
                        opacity: 0;
                    }
                }
                .content{
                    text-align: left;
                    position: absolute;
                    left: 48px;
                    bottom: 12.259615%; /* 51/416 */
                    z-index: 1;
                    &__over-title{
                        display: inline-block;
                        color: #391400;
                        font-size: 16px;
                        line-height: 200%; /* 32/16 */
                        text-transform: none;
                        letter-spacing: normal;
                        padding: 5px 16px;
                        border-radius: 19px;
                        background: #FFF;
                    }
                    &__title{
                        color: #FFF;
                        font-size: 40px;
                        font-weight: 800;
                        line-height: 120%; /* 48/40 */
                    }
                }
            }
        }
    }
    &__third {
        display: flex;
        justify-content: center;
    }
    @media (max-width: 650px) {
        // &__first,
        // &__first-title{
        //     margin-bottom: 20px;
        // }
    }
}

.get-started {
    &__inner {
        padding-inline: 100px 80px;
        position: relative;
        &::after{
            content: '';
            background: url(../img/get-started/icons/star.svg) center center / 100%;
            width: 12.649573%; /* 148/1170 */
            aspect-ratio: 1;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(56%, -50%);
        }
        border-radius: 6px;
        background: #FDF0E9;
    }
    &__left {
        max-width: 653px;
        padding-block: 80px 64px;
        display: flex;
        flex-flow: row wrap;
        column-gap: 20px;
        row-gap: 30px;
        .content{
            position: relative;
            z-index: 2;
            flex: 0 1  248px;
            text-align: left;
            &__over-title{
                margin: 0 0 13px 0;
            }
            &__title{
                color: #391400;
                font-size: 24px;
                font-weight: 700;
                line-height: 133.333333%; /* 32px/24 */
                letter-spacing: 0;
                margin: 0 0 24px 0;
            }
        }
    }
    &__btn{
        border-radius: 6px;
        background: #EF6D58;          
        color: #FFF;
        font-size: 14px;
        font-weight: 900;
        line-height: 100%;
        &:hover{
            color: #FFF;
            transform: scale(1.1);
            box-shadow: 3px 3px 3px #5C2000;
        }
        &:active{
            transform: scale(1);
            box-shadow: 0 0 0;

        }
    }
    &__envelop{
        position: relative;
        flex-basis: 338px;
        aspect-ratio: 338 / 192;
        // height: 192px;
        // width: 338px;
        border-radius: 6px;
        box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);        
        img{
            position: absolute;
            left: 0;
            top: 0;;
            width: 100%;
            height: 100%;
        }
    }
    &__right {
        position: relative;
        top: 0;
        right: 0;
        height: 100%;
        &-image {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &-girl{
            position: relative;
            z-index: 1;
        }
        &-cloud{
            position: absolute;
            top: 27%;
            left: -25%;
        }
    }
}
.events {
    &__container {
        & > div:not(:last-child){
            margin-bottom: 64px;
        }
    }
    &__first {
        &-inner{
            margin: 0 auto;
        }
        .content{
            max-width: 426px;
        }
    }
    &__second {
        .cards{
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: nowrap;
            gap: 30px;
            &__item{
                flex: 1 1 370px;
                border-radius: 6px;
                border: 1px solid #3A3C56;
                padding: 41px 36px;
                display: flex;
                flex-direction: column;
            }
            &__bottom {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 19px;
            }
            &__title {
                font-size: 24px;
                font-weight: 700;
                line-height: 133.333333%; /* 32/24 */
                letter-spacing: 0;
            }
            &__text {
                flex: 1 0 1px;
                text-align: left;
                color: rgba(255, 255, 255, 0.64);
                font-size: 16px;
                line-height: 200%; /* 32/16 */
            }
            &__link {
                font-size: 16px;
                line-height: 200%; /* 32/16 */
                align-self: flex-start;
                &:hover{
                    color: #EF6D58;
                    text-decoration: underline;
                }
            }
            &__top {
                border-bottom: 1px solid #3A3C56;
                padding-bottom: 36px;
                margin: 0 0 40px 0;
                &-dt {
                    margin: 0 0 8px 0;
                    display: flex;
                    column-gap: 12px;
                    align-items: center;
                    &:not(:last-child){
                        margin: 0 0 8px 0;
                    }
                    &-day {
                        font-size: 72px;
                        font-weight: 800;
                        line-height: 111.111111%; /* 80/72 */
                        letter-spacing: -2px;                        
                    }
                    &-str {
                        padding-block: 5px 11px;
                        display: flex;
                        flex-direction: column;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 133.333333%; /* 32px/24 */
                    }
                }
                &-time {
                    display: flex;
                    column-gap: 8px;
                    align-items: center;
                    font-size: 16px;
                    line-height: 200%; /* 32/16 */
                    &::before{
                        content: url(../img/events/icons/clock.svg);
                    }
                }
            }
        }
    
    }
    &__third{
        text-align: center;
    }
}
.team {
    &__first {
        display: flex;
        justify-content: space-between;
        gap: 30ps;
        align-items: flex-end;
        &:not(:last-child){
            margin: 0 0 64px 0
        }
        .content{
            max-width: 531px;
            text-align: left;
        }
    }
    &__second {
        .cards{
            margin: 0 0 60px 0;
            display: flex;
            justify-content: center;
            gap: 20px;
            &__item{
                position: relative;
                flex: 0 0 270px;
                display: flex;
                flex-direction: column;
                row-gap: 26px;
                align-items: flex-start;
                .content {
                    text-align: left;
                    &__title {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 133.333333%; /* 32/24 */
                        letter-spacing: normal;
                    }
                    &__text {
                        color: rgba(255, 255, 255, 0.64);
                        font-size: 16px;
                        line-height: 200%; /* 32/16 */
                    }
                }
            }
            &__image{
                border-radius: 6px;
                border: 1px solid #3A3C56;
                width: 100%;
                aspect-ratio: 1;
            }
        }
    }
}
.arrow-btns {
    display: flex;
    column-gap: 16px;
    &__item {
        width: 48px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1px solid #3A3C56;
        background: url(../img/team/icons/arrow-left.svg) center no-repeat;
        cursor: pointer;
        transition: background-color .3s;
        &:hover{
            background-color: #EF6D58;
        }
    }
    &__item--left {
    }
    &__item--right {
        position: relative;
        transform: rotate(180deg);
    }
}
.points {
    display: flex;
    height: 12px;
    column-gap: 20px;
    justify-content: center;
    &__point {
        flex: 0 0 12px;
        border-radius: 50%;
        background-color: #4E4F6E;
        transition: background-color .3s;
        cursor: pointer;
        &:hover{
            background-color: #EF6D58;
        }
    }
}
.founder {
    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 60px;
        row-gap: 20px;
    }
    &__first{
        position: relative;
        flex-basis: 570px;
        border-radius: 6px;
        aspect-ratio: 570 / 448;
        background: url(../img/founder/background.png) center / cover no-repeat;
        // &::before{
        //     content: url(../img/founder/background.png);
        //     // position: absolute;
        //     // left: 0;
        //     // top: 0;
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        //     // z-index: -1;
        // }
    }
    &__image {
        img{
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
            width: 100%;
            height: 100%;
            border-radius: 6px;
        }
    }
    &__second {
        flex-basis: 470px;
        &::before{
            content: url(../img/founder/quotes.svg);
            position: absolute;
            top: 3%;
            right: 10%;
            width: 100px;
            height: 80px;
            z-index: -1;
        }
        position: relative;
        .content {
            text-align: left;
            margin: 0 0 44px 0;
            &__title{
                @media (min-width: 990px) {
                    font-size: 40px;
                    line-height: 120%; /* 48/40 */
                    letter-spacing: normal;
                }
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
            &__text{
                h4{
                    font-size: 20px;
                    line-height: 160%; /* 32/20 */
                    margin: 0 0 6px 0;
                }
                p{
                    color: rgba(255, 255, 255, 0.64);
                    font-size: 14px;
                    line-height: 171.428571%; /* 24/14 */
                }
            }
        };
    }
}

@media (max-width: 1010px) {
    .portfolio__second .cards__item {
        flex-grow: 1;
    }
}
@media (max-width: 992px) {
}
@media (max-width: 767.98px)
{
    .content__over-title{
        flex: 14;
    }
    .content__over-title:not(:last-child){
        margin-bottom: 10px;
    }
    .content__title{
        font-size: 46px;
    }
    .menu{
        max-width: 360px;
        column-gap: 9px;
    }
    .menu a{
        font-size: 14px;
        line-height: 171%; /* 11/10 */
    }
    .menu span{
        font-size: 10px;
        line-height: 110%; /* 11/10 */
    }
    .main__section-01 {
        margin: 0 0 50px;
    }    
    .portfolio {
        padding-top: 40px;
    }    
    .portfolio .portfolio__first,
    .portfolio .portfolio__first-title{
        margin-bottom: 20px;
    }
    .portfolio__second {
        margin: 0 0 32px 0;
    }
    .portfolio__second .cards__item .content {
        left: 30px;
        bottom: 5%;
    }    
    .portfolio__second .cards__item .content__over-title {
        font-size: 14px;
        padding-block: 5px;
    }
    .portfolio__second .cards__item .content__title {
        font-size: 28px;
    }
}
    
@media (max-width: 991.98px){
    .content__title{
        font-size: 34px;
    }
    .get-started__inner{
        padding-inline: 25px;
    }
    .get-started__right-girl {
        max-width: 200px;
    }    
    .get-started__right-cloud {
        max-width: 250px;
    }    
    .events__second .cards__top-dt-day {
        font-size: 54px;
    }    
    .events__second .cards__top-dt-str {
        font-size: 18px;
    }    
    .events__second .cards__top-time {
        font-size: 13px;
    }
    .events__second .cards__title{
        font-size: 18px;
    }      
    .events__second .cards__text{
        font-size: 12px;
    }
    .events__second .cards__link{
        font-size: 14px;
    }
    .events__second .cards__top {
        padding-bottom: 10px;
        margin: 0 0 12px 0;
    }
    .events__second .cards__item {
        flex: 1 1 280px;
        padding: 20px;
    }
}
@media (max-width: 767.96px){
    .get-started__inner::after {
        width: 95px;
    }    
    .events__second .cards__top-dt-day {
        font-size: 32px;
    }    
    .events__second .cards__top-dt-str {
        font-size: 12px;
        padding-block: 0;
    }    
    .events__second .cards__top-time {
        font-size: 10px;
    }
    .events__second .cards__title{
        font-size: 13px;
    }      
    .events__second .cards__text{
        font-size: 10px;
    }
    .events__second .cards__link{
        font-size: 12px;
    }
    .events__second .cards__top {
        padding-bottom: 10px;
        margin: 0 0 12px 0;
    }
    .events__second .cards__item {
        flex: 1 1 280px;
        padding: 10px;
    }
    .events__second .cards__bottom {
        row-gap: 10px;
    }
    .events__second .cards{
        gap: 10px;
    }    
}
@media (max-width: 452px){
    .get-started__right-girl {
        max-width: 150px;
    }    
    .get-started__right-cloud {
        max-width: 190px;
    }
    .events__second .cards {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }
    .events__second .cards__top-dt-day {
        font-size: 54px;
    }    
    .events__second .cards__top-dt-str {
        font-size: 18px;
    }    
    .events__second .cards__top-time {
        font-size: 13px;
    }
    .events__second .cards__title{
        font-size: 18px;
    }      
    .events__second .cards__text{
        font-size: 12px;
    }
    .events__second .cards__link{
        font-size: 14px;
    }
    .events__second .cards__top {
        padding-bottom: 10px;
        margin: 0 0 12px 0;
    }
    .events__second .cards__item {
        flex: 0 1 340px;
        padding: 20px;
    }

}