@keyframes show-blur{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
.main__contacts::after,
.main__contacts::before{
    opacity: 0;
    animation: show-blur 1s linear .5s forwards;
}

.form .form__submit{
    position: relative;
    transition: none;
    overflow: hidden;
}
.form .form__submit::after,
.form .form__submit-text{
    position: relative;
    z-index: 1;
}
.form .form__submit::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 200%;
    transform: skew(-30deg) translate(-100%, -25%);
    will-change: left;
}
.form .form__submit:hover::before{
    left: 150%;
}
.contacts .form .form__submit:hover{
    background-color: #A53DFF;
}  
.contacts .form .form__submit::before{
    transition: left 1s;
    background: linear-gradient(90deg, #8431CC 0%, #8431CC 70%, rgba(0, 0, 0, 0) 90%, rgba(255, 255, 255, 0.6) 100%);
}
.support .form .form__submit::before{
    background: linear-gradient(90deg, transparent 0%, transparent 70%, rgba(0, 0, 0, 0) 90%, rgba(255, 255, 255, 0.6) 100%);
}
.support .form .form__submit:hover::before{
    transition: left 1s;
}  