@import url("nullstyle.css");
@import url("animation.css");
/* @import url(https://fonts.googleapis.com/css?family=Epilogue:regular,800,900&display=swap); */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,600&display=swap);

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background: #fff;
  color: #556070;
  height: 100vh;
  overflow-x: hidden;
}
.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

[class*=__container] {
  max-width: 1136px;
  padding-inline: 20px;
  margin: 0 auto;
}

.header,
.footer {
  background: #fff;
  padding-block: 20px;
  color: #28293E;
}

.header {
  top: 0;
  position: sticky;
  min-height: 52px;
  z-index: 99;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 50%;
  left: 0;
  height: 150%;
  aspect-ratio: 1;
  transform: translateY(-50%);
  /* width: 32px; */
}

.logo img {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.header__title {
  font-size: 24px;
  font-weight: 900;
}

footer {
  text-align: center;
}

/* Contacts */
.main__contacts{
  padding-block: 100px;
}
.main__contacts::before{
  content: '';
  width: 100%;
  height: 100%;
  transform: rotate(-130.444deg);
  border-radius: 50%;
  background: rgba(218, 77, 241, 0.40);
  filter: blur(150px);
  position: absolute;
  right: -33%;
  top: -29%;
  z-index: -1;
}
.main__contacts::after{
  content: '';
  width: 100%;
  height: 100%;
  transform: rotate(-130.444deg);
  background: rgba(196, 245, 233, 0.70);
  filter: blur(150px);
  position: absolute;
  right: 0;
  bottom: 0%;
  z-index: -2;
}
.contacts__text{
  font-size: 18px;
  line-height: 133.333333%; /* 24/18 */
  margin-bottom: 50px;
}

.contacts__block{
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 59px 124px 0px rgba(0, 0, 0, 0.12);
  padding: 114px 90px;
  max-width: 740px;
}
.contacts .form{
  color: #87909D;
}
.contacts .form__elements{
  margin-bottom: 50px;
}
.contacts .form__cell:not(:last-child){
  margin-bottom: 23px;
}

.contacts .input{
  padding-bottom: 14px;
  border-bottom: #E6E8EB 1px solid;
  transition: border-color .5s;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.contacts .input:has(.input__input:focus){
  border-color: #A53DFF;
}
.contacts .input:last-child{
  padding-bottom: 16px;
}
.contacts .input__label{
  color: #697484;
  font-size: 18px;
  line-height: 133.333333%; /* 24/18 */
  transition: color .5s;
}
.contacts .input:has(.input__input:focus) > .input__label{
  color: #A53DFF;
}
.contacts .input__field{
  width: 100%;
}
.contacts .input__input{
  width: 100%;
  padding-inline: 5px;
}
.contacts .input__input:focus{
  outline-color: #A53DFF;
  outline-offset: 5px;
  outline-style: dashed;
  color: #000;
}
.contacts .form__cell--inline{
  display: flex;
  column-gap: 24px;
  align-items: center;
}
.contacts .form__cell--inline .input:first-child{
  flex-basis: 28%;
}
.contacts .form__cell--inline .input:not(:first-child){
  flex-grow: 1;
}
.form textarea{
  resize: vertical;
}
.contacts .form .form__submit{
  padding: 12px 24px;
  border-radius: 4px;
  background: #A53DFF;  
  width: fit-content;
  display: flex;
  column-gap: 12px;
  align-items: center;
  transition: background-color .3s;
}
.contacts .form .form__submit::after{
  content: url(../img/contacts/icons/arrow-btn.svg);
}
.contacts .form .form__submit-text{
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24/16 */
}


.support{
  background: var(--Black-08, #141414);
  color: #999;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-block: 100px;
}
.support .form{
  border-radius: 12px;
  border: 1px solid #262626;
  background: #0F0F0F;  
  max-width: 978px;
  padding: 50px;
  margin: 0 auto;
}
.support .form__elements{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 50PX;
}
.support .form__cell{
  flex-basis: 47.146119%; /* 413/876 */
}
.support .form__cell:last-child{
  flex-grow: 1;
  line-height: 159%; /* 27/18 */
}
.support .input__label{
  display: block;
  color: #FFF;
  font-weight: 600;
  margin-bottom: 16px;
}
.support .input__field{
  padding: 19px;
  border-radius: 8px;
  border: 1px solid #262626;
  background: #141414;  
}
.support .form__footer{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.checkbox{
  display: flex;
  align-items: center;
  gap: 10px;
}
.support .checkbox__box{
  position: relative;
  width: 28px;
  aspect-ratio: 1;
  border-radius: 4px;
  border: 1px solid #262626;
  background: #141414; 
}
.support .checkbox__box::before{
  content: url(../img/check.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease;
}
.checkbox__box:has(.checkbox__input:checked)::before{
  visibility: visible;
  opacity: 1;
}
.support .checkbox__label{
  cursor: pointer;
}
.support .checkbox__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.support .form__submit{
  padding: 18px 24px;
  border-radius: 8px;
  background: #E50000;
  color: #fff;
  font-weight: 600;
}
.support .input__input:focus{
  outline-color: #262626;
  outline-offset: 5px;
  outline-style: dashed;
}
