@import url("nullstyle.css");
@import url("animation.css");
@import url(https://fonts.googleapis.com/css?family=Epilogue:regular,800,900&display=swap);
/*
text-dark: #391400;
text-dark-accent: #ef6d58;
text-dark-gray: rgba(57, 20, 0, 0.64);
text-light: #fff;
text-light-accent: #ef6d58;
text-light-gray: rgba(255, 255, 255, 0.64);
*/
body {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  background: #28293E;
  color: #fff;
}

[class*=__container] {
  max-width: 1210px;
  padding-inline: 20px;
  margin: 0 auto;
}

.header,
.footer {
  background: #F3D1BF;
  padding-block: 10px;
  color: #28293E;
}

.header {
  top: 0;
  position: sticky;
  height: 52px;
  z-index: 99;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  inset: 0;
  width: 32px;
  aspect-ratio: 1;
}

.logo img {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__title {
  font-size: 24px;
  font-weight: 900;
}

footer {
  text-align: center;
}

.content {
  text-align: center;
}
.content__over-title {
  color: #EF6D58;
  font-size: 16px;
  line-height: 200%; /* 32/16 */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.content__over-title:not(:last-child) {
  margin-bottom: 20px;
}
.content__title {
  font-size: 56px;
  font-weight: 800;
  line-height: 114.286%;
  letter-spacing: -1px;
  text-align: center;
}
.content__title--left {
  text-align: left;
}

.main__section-01 {
  margin: 0 0 192px;
}
.main__section-02 {
  margin: 0 0 140px;
}
.main__section-03 {
  margin: 0 0 140px;
}
.main__section-04 {
  margin: 0 0 180px;
}
.main__section-05 {
  margin: 0 0 176px;
}

.menu {
  display: flex;
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
  flex-wrap: wrap;
}
.menu__item a {
  position: relative;
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  line-height: 200%; /* 32px/16 */
}
.menu__item span {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
  line-height: 171.428571%; /* 24/14 */
  transform: translate(100%, -50%);
}
.menu__item a:hover {
  color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.img {
  position: relative;
}
.img__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  padding: 16px 30px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #FFF;
  text-align: center;
  font-family: Epilogue;
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  transition: color, background-color 0.3s, 0.3s;
}
.btn:hover {
  color: #EF6D58;
}

.portfolio {
  padding-top: 92px;
}
.portfolio__first {
  margin: 0 0 68px;
}
.portfolio__first-title {
  margin: 0 0 44px;
}
.portfolio__second {
  margin: 0 0 64px 0;
}
.portfolio__second .cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 32px;
}
.portfolio__second .cards__item {
  flex-basis: 470px;
  min-height: 416px;
  position: relative;
}
@media (max-width: 1000px) {
  .portfolio__second .cards__item {
    flex-grow: 1;
  }
}
.portfolio__second .cards__item:nth-child(4n+2), .portfolio__second .cards__item:nth-child(4n+3) {
  flex-grow: 1;
}
.portfolio__second .cards__item .img {
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  inset: 0;
}
.portfolio__second .cards__item .img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #5C2000;
  transition: opacity 1s;
  opacity: 0.3181;
}
.portfolio__second .cards__item .img:hover::after {
  opacity: 0;
}
.portfolio__second .cards__item .content {
  text-align: left;
  position: absolute;
  left: 48px;
  bottom: 12.259615%; /* 51/416 */
  z-index: 1;
}
.portfolio__second .cards__item .content__over-title {
  display: inline-block;
  color: #391400;
  font-size: 16px;
  line-height: 200%; /* 32/16 */
  text-transform: none;
  letter-spacing: normal;
  padding: 5px 16px;
  border-radius: 19px;
  background: #FFF;
}
.portfolio__second .cards__item .content__title {
  color: #FFF;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%; /* 48/40 */
}
.portfolio__third {
  display: flex;
  justify-content: center;
}

.get-started__inner {
  padding-inline: 100px 80px;
  position: relative;
  border-radius: 6px;
  background: #FDF0E9;
  display: flex;
  justify-content: space-between;
  gap: 38px;
}
.get-started__inner::after {
  content: url(../img/get-started/icons/star.svg);
  height: 44.047619%; /* 148/336 */
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(56%, -50%);
}
.get-started__left {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 68px;
       column-gap: 68px;
  padding-block: 80px 64px;
}
.get-started__left-top .content {
  max-width: 248px;
  align-items: flex-start;
  row-gap: 13px;
}
.get-started__left-top .content:not(:last-child) {
  margin: 0 0 23px;
}
.get-started__left-top .content__title {
  color: #391400;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333333%; /* 32px/24 */
  letter-spacing: 0;
}
.get-started__btn {
  border-radius: 6px;
  background: #EF6D58;
  color: #FFF;
  font-size: 14px;
  font-weight: 900;
  line-height: 100%;
}
.get-started__btn:hover {
  color: #FFF;
  transform: scale(1.1);
  box-shadow: 3px 3px 3px #5C2000;
}
.get-started__btn:active {
  transform: scale(1);
  box-shadow: 0 0 0;
}
.get-started__envelop {
  position: relative;
  height: 192px;
  width: 338px;
  border-radius: 6px;
  box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
}
.get-started__envelop img {
  position: absolute;
  left: 0;
  top: 0;
}
.get-started__middle {
  padding-block: 80px;
}
.get-started__right {
  position: relative;
  flex: 0 0 298px;
}
.get-started__right-image {
  position: absolute;
  right: 0;
  bottom: 0;
}
.get-started__right::before {
  content: url(../img/get-started/cloud.svg);
  position: absolute;
  right: 5.439331%; /* 13/239 */
  bottom: 11.868687%; /* 47/396 */
  width: 282px;
  height: 242px;
}

.events__container > div:not(:last-child) {
  margin-bottom: 64px;
}
.events__first-inner {
  margin: 0 auto;
}
.events__first .content {
  max-width: 426px;
}
.events__second .cards {
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}
.events__second .cards__item {
  flex: 1 1 370px;
  border-radius: 6px;
  border: 1px solid #3A3C56;
  padding: 41px 36px;
  display: flex;
  flex-direction: column;
}
.events__second .cards__bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 19px;
}
.events__second .cards__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333333%; /* 32/24 */
  letter-spacing: 0;
}
.events__second .cards__text {
  flex: 1 0 1px;
  text-align: left;
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  line-height: 200%; /* 32/16 */
}
.events__second .cards__link {
  font-size: 16px;
  line-height: 200%; /* 32/16 */
  align-self: flex-start;
}
.events__second .cards__link:hover {
  color: #EF6D58;
  text-decoration: underline;
}
.events__second .cards__top {
  border-bottom: 1px solid #3A3C56;
  padding-bottom: 36px;
  margin: 0 0 40px 0;
}
.events__second .cards__top-dt {
  margin: 0 0 8px 0;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
}
.events__second .cards__top-dt:not(:last-child) {
  margin: 0 0 8px 0;
}
.events__second .cards__top-dt-day {
  font-size: 72px;
  font-weight: 800;
  line-height: 111.111111%; /* 80/72 */
  letter-spacing: -2px;
}
.events__second .cards__top-dt-str {
  padding-block: 5px 11px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333333%; /* 32px/24 */
}
.events__second .cards__top-time {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
  font-size: 16px;
  line-height: 200%; /* 32/16 */
}
.events__second .cards__top-time::before {
  content: url(../img/events/icons/clock.svg);
}
.events__third {
  text-align: center;
}

.team__first {
  display: flex;
  justify-content: space-between;
  gap: 30ps;
  align-items: flex-end;
}
.team__first:not(:last-child) {
  margin: 0 0 64px 0;
}
.team__first .content {
  max-width: 531px;
  text-align: left;
}
.team__second .cards {
  margin: 0 0 60px 0;
  display: flex;
  justify-content: space-between;
}
.team__second .cards__item {
  position: relative;
  flex: 0 0 270px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  align-items: flex-start;
}
.team__second .cards__item .content {
  text-align: left;
}
.team__second .cards__item .content__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333333%; /* 32/24 */
  letter-spacing: normal;
}
.team__second .cards__item .content__text {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  line-height: 200%; /* 32/16 */
}
.team__second .cards__image {
  border-radius: 6px;
  border: 1px solid #3A3C56;
  width: 100%;
  aspect-ratio: 1;
}

.arrow-btns {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.arrow-btns__item {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #3A3C56;
  background: url(../img/team/icons/arrow-left.svg) center no-repeat;
  cursor: pointer;
  transition: background-color 0.3s;
}
.arrow-btns__item:hover {
  background-color: #EF6D58;
}
.arrow-btns__item--right {
  position: relative;
  transform: rotate(180deg);
}

.points {
  display: flex;
  height: 12px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
}
.points__point {
  flex: 0 0 12px;
  border-radius: 50%;
  background-color: #4E4F6E;
  transition: background-color 0.3s;
  cursor: pointer;
}
.points__point:hover {
  background-color: #EF6D58;
}

.founder__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.founder__first {
  position: relative;
  flex-basis: 570px;
  border-radius: 6px;
  aspect-ratio: 570/448;
}
.founder__first::before {
  content: url(../img/founder/background.png);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.founder__image img {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}
.founder__second {
  flex-basis: 470px;
  position: relative;
}
.founder__second::before {
  content: url(../img/founder/quotes.svg);
  position: absolute;
  top: 3%;
  right: 10%;
  width: 100px;
  height: 80px;
  z-index: -1;
}
.founder__second .content {
  text-align: left;
  margin: 0 0 44px 0;
}
.founder__second .content__title {
  font-size: 40px;
  line-height: 120%; /* 48/40 */
  letter-spacing: normal;
}
.founder__second .content__title:not(:last-child) {
  margin-bottom: 15px;
}
.founder__second .content__text h4 {
  font-size: 20px;
  line-height: 160%; /* 32/20 */
  margin: 0 0 6px 0;
}
.founder__second .content__text p {
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
  line-height: 171.428571%; /* 24/14 */
}/*# sourceMappingURL=style.css.map */